header{
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}


.logo{
    margin-left: 220px;
}

.qw{
    color: aliceblue;
}

/* 
.address{
    color:grey;
    letter-spacing: 1px;
    font-size: 20px;
}

.dv{
    margin-top: -10px;
    margin-bottom: -10px;
}

.lk{
    margin-bottom: -50px;
    margin-left: 400px;
}
.ms-auto{
    margin-top: 30px;
}
 */
